@model webBinh.Models.column

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Thêm mục nhiệm vụ</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{
        int idcolumn = 0;
        DateTime ngaytao = DateTime.Now;
        using (var context = new webBinh.Models.webNangCaoQLDA2Entities())
        {
            int maxId = context.columns.Max(i => i.id_column);
            idcolumn = maxId + 1;

        }
        @Html.Hidden("id_column", idcolumn.ToString())
        @Html.Hidden("createdAt", ngaytao)
        //@Html.Hidden("idpr", )

         @Html.Hidden("id_project", "")


    }

    <div class="form-group">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
