@model webBinh.Models.Project
@using System;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewBag.Title = "createProject";
}

<style>
    .form{
        width:500px;
        border:2px solid;
        padding:20px 50px;
        margin:0 auto;
    }
    .form>h2{
        text-align:center;
    }
    .nhap{
        
       
    }
    .submit{
        border: 2px solid;
        border-radius: 10px;
        background-color:chartreuse;
        text-align:center;
        width:150px;
        float:right;
        display:inline;
    }
    .submit:hover {
        background-color: coral;
        box-shadow: 0px 0px 10px 5px  red  ;
    }

 
 </style>
@using (Html.BeginForm("createProject", "project", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form">
    <h2>Thêm dự án mới</h2>
    <hr />
    @{
        string ownerid = "0839976113";
        DateTime ngaytao = DateTime.Now;
        int idpr = 0;


        using (var context = new webBinh.Models.webNangCaoQLDA2Entities1())
        {
            int maxId = context.Projects.Max(i => i.id_project);
            idpr = maxId + 1;
        }

    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("id_project", idpr.ToString())
    @Html.Hidden("ownerIds", ownerid)
    @Html.Hidden("createdAt", ngaytao)

    <div class="nhap">
        <h4>Tiêu đề dự án</h4>
        @Html.TextAreaFor(model => model.title, new { @class = "inputText", rows = 3, cols = 80 })
        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })

    </div>
    <div class="nhap">
        <h4> Mô tả cho dự án:</h4>

        @Html.TextAreaFor(model => model.mota, new { @class = "inputText", rows = 5, cols = 80 })
        @Html.ValidationMessageFor(model => model.mota, "", new { @class = "text-danger" })

    </div>


    <div class="submit">
        <input type="submit" value="Thêm" class="btn btn-default" />
    </div>
    <div class="back">
        @Html.ActionLink("Quay lại trang chủ", "index")
    </div>
</div>
}


